* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.075rem;
}

.tilt-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 25px;
  /* padding: 50px; */
}

.tilt-root {
  height: 500px;
  background-color: red;
  width: 300px;
  background-image: -webkit-linear-gradient(315deg, #1973d1 0%, #010280 100%);
  background-image: linear-gradient(135deg, #1973d1 0%, #010280 100%);
  transform-style: preserve-3d;
  will-change: transform;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt-child {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translateZ(30px) translateX(-50%) translateY(-50%);
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
}
.totally-centered {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
