* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color:cornsilk;
}

hr {
    /* margin-right: 100px; */
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


.nav-bar {
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color:burlywood;
    padding: 10px;
    z-index: 9;
}

.nav-items a {
    margin-right: 20px;
    margin-bottom: 0;
}

.nav-items {
    
}

.fa-mug-saucer {
    font-size: 30px;
    margin-right: 20px;
}

.nav-buttons button {
    border-radius: 40px;
    padding: 5px 10px;
}

#join {
    background-color: #333;
    color: #fff;
}

.banner  {
    background-image: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1061&q=80");
    width: 100%;
    height: 200px;
    object-fit: cover;
    color: #fff;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    }

.promo-boxes {
    margin-top: 30px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.promo-box {
color: black;
background-color:rgb(233, 167, 109);
text-align: center;
font-size: 40px;
margin-bottom: 20px;
padding: 20px 0px;
}

.footer {
    background-color: burlywood;
}

.table {
    justify-content: space-around;
    padding: 0 5% 0 5%;
}

.address {
    /* flex: 1; */
    justify-content: center;
}

.socials {
    /* flex: 1; */
    justify-content: center;
}

.about-us{
flex:.5;
justify-content: center;
flex-wrap: wrap;
}

.form {
    position: relative;
    display: block;
    padding: 50px 400px;
  }
  .form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #666;
  }
  .form input,
  textarea {
    display: block;
    width: 100%;
    background-color: white;
    border: none;
  }
  .form button {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }


